<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Abhinav Thukral &middot; Lab</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800" rel="stylesheet">
</head>
<body>
<section>
	<div class="content">
		<h6>Abhinav Thukral / Lab</h6>
		<h1 class="spaced">{{title}}</h1>
		<p>{{message}}</p>
	</div>
</section>
</body>
</html>