<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Abhinav Thukral &middot; Lab</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,800" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
<section>
	<div class="content">
		<h6>Abhinav Thukral / Lab</h6>
		<h1><a href="../"><i class="fas fa-arrow-left back-button"></i></a> Account Setup</h1>
		{{#if error}}
		<div class="error">{{error}}</div>
		{{/if}}
		{{#if success}}
		<div class="success">{{success}}</div>
		{{/if}}
		<form class="box" action="/setup" method="post">
			<div class="form-text"><span>User</span></div>
			<input type="text" id="user" name="user">
			<div class="form-text"><span>E-mail</span></div>
			<input type="email" id="email" name="email">
			<div class="form-text"><span>Password</span></div>
			<input type="password" id="password" name="password">
			<input type="submit" name="submit" value="Setup Account">
		</form>
	</div>
</section>
</body>
</html>